{
  "env": {
    "browser": true,
    "node": true
  },
  "extends": [
    "airbnb",
    "plugin:flowtype/recommended"
  ],
  "parser": "babel-eslint",
  "plugins": [
    "flowtype"
  ],
  "rules": {
    "max-len": [2, 120],
    "react/jsx-filename-extension": 0,
    "jsx-a11y/anchor-is-valid": 0
  }
}